td,th {
    border: 1px solid #552211;
    background-color: #0D0E12;
    width: 10%;
    height: 10%;
}

body {
    background-color: #0D0E12;
    color: #882222;
}

main {
    display: flex;
    gap: 20px;
    min-width: 95vw;
    min-height: 95vh;
}

dialog {
    background-color: #262936;
    color: #F3F4F6;
}

h2 {
    text-align: center;
}

#module_overview {
    width: 30%;
    border-radius: 8px;
    border: 1px solid #552211;
    background-color: #262936;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#module_selector {
    list-style-type: none;
    padding: 0;
}

#timed_modules {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 8px;
    border: 1px solid #552211;
    background-color: #262936;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#timetable {
    flex-grow: 1;
}

.module {
    background-color: #505050;
    border-radius: 8px;
    padding: 0;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.module:hover {
    background-color: #303030;
}

.module h3 {
    text-align: center;
    font-weight: bold;
    color: #882222;
    background-color: #303030;
    margin: 0;
}

.module details {
    margin-left: 10px;
}

.module_description {
    background-color: #552211;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    color: whitesmoke;
}

.module_register {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #335533;
    margin-top: 10px;
    border-radius: 5px;
    width: 70%;
    color: whitesmoke;
}

#module_slots {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.module_slot {
    background-color: #2E2E3A;
    border-radius: 5px;
    border: 1px solid #552211;
    padding: 10px;
}

.vorlesung {
    background-color: aqua;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px;
}

.uebung {
    background-color: lime;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px;
}

.tutorium {
    background-color: orange;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px;
}

.popup_buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    padding-top: 20px;
}

button {
    background-color: #262936;
    border-radius: 5px;
    color: #882222
}

#slot_submit {
    color: lime;
}

#slot_cancel {
    color: red;
}

#timetable_header {
    display: flex;
    gap: 20%;
    justify-content: center;
}

#notes_field {
    width: 80%;
    background-color: #505050;
}

#edit_slot_popup textarea {
    width: 100%;
}